// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.calc-sect {
  /* .calc-sect__title */
  &__title {}

  /* .calc-sect__descr */
  &__descr {
    // margin: 0 0 40px;
    max-width: 415px;
  }
}

.calc {
  margin: 40px 0 0;
  display: flex;
  flex-flow: wrap;
  // display: grid;
  // grid-template-columns: auto 20px 260px;
  // grid-template-rows: auto 20px auto;
  // position: relative;
  /* .calc__group */
  &__group {
    margin: 0;
    // justify-self: start;
    &:nth-last-child(n+2) {
      margin: 0;
    }
  }

  /* .calc__group-title */
  &__group-title {}

  /* .calc__inputs */
  &__inputs {}

  /* .calc__input-wrap */
  &__input-wrap {
    &:nth-last-child(n+2) {}
  }

  /* .calc__input-wrap */
  &__input-hint {
    &:hover::after {}
    &::after {}
  }

  &__radio,
  &__checkbox {}

  /* .calc__radio */
  &__radio {
    > .check__text {}
  }

  /* .calc__checkbox */
  &__checkbox {
    
    >.check__inp {}

    >.check__text {}
  }

  &__tour-btn {
    // margin: auto 0 0 auto;
    // grid-row: 3;
    // grid-column: 3;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    &-icon {}
    &-text {}
  }
}

#calc-group-type {
  margin: 0 auto 0 0;
  order: 1;
  // grid-row: 1/span 3;
  // grid-column: 1;
}

#calc-group-work {
  margin: 40px 0 0 0;
  order: 3;
  flex-flow: wrap;
  width: 100%;
  > .calc__inputs {
    // width: 50%;
    &:first-of-type {
      margin: 0 213px 0 0;
    }
  }
  // grid-row: 5;
  // grid-row: 3;
  // grid-column: 1;
}

#calc-group-extra-work {
  order: 2;
  // grid-row: 1;
  // grid-column: 3;
}

#calc-group-added {
  // grid-row: 3;
  // grid-column: 3;
}

#calc-img {
  order: 2;
  // display: block;
  // margin: auto 0 40px;
  width: 220px;
  // width: 260px;
  height: auto;
  // height: 135px;
  // grid-row: 3;
  // grid-column: 3;
}

.calc-result {
  margin-top: 50px;
  padding: 0;
  max-width: 500px;
  // padding: 40px 25px;
  flex-flow: wrap;
  align-items: flex-start;
  text-align: left;
  /* .calc-result__price-block */
  &__price-block {
    margin: 0 auto 0 0;
    order: 1;
  }

  /* .calc-result__price-title */
  &__price-title {}

  /* .calc-result__price */
  &__price {}

  &__price-period {
    margin: 0;
    width: auto;
  }

  /* .calc-result__price-number */
  &__price-number {}

  /* .calc-result__guarantee-block */
  &__guarantee-block {
    order: 3;
    width: 250px;
    // order: 0;
  }

  /* .calc-result__guarantee-title */
  &__guarantee-title {}

  /* .calc-result__guarantee-descr */
  &__guarantee-descr {}

  /* .calc-result__guarantee-doc */
  &__guarantee-doc {
    justify-content: flex-start;
    &::before {}
  }

  /* .calc-result__buttons-block */
  &__buttons-block {
    margin: 30px 0 0;
    order: 4;
    display: flex;
    > .btn {
      &:first-child {
        margin: 0 25px 0 0;
      }
    }
  }
}