// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.close {
  width: 17.5px;
  height: 17.5px;
  padding: 2.5px;
  transition: color .4s;
  &:active {
    transform: scale(.95);
  }
  &__svg {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  &__rect {
    width: 19px;
    height: 2px;
    fill: currentColor;
  }
}

.popup {
  // display: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  overflow: auto;
  z-index: 5;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__cnt {
    padding: 0 15px 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    position: relative;
  }
  &__close {
    &-block {

    }
  }
  &__title {

  }
  &__descr {

  }
}