// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;

  &__circle {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: spin .5s linear infinite;
    border-top-color: $red;
    border-left-color: $red;
  }
}

.thanks {
  padding: 0 20px;
  position: absolute;
  top: -1px;
  left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  font: 16px/150% Calibri;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  color: $black;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;

  // Видимость регулируется классами .hidden и .visible
  &__cnt {}

  &__title {
    display: block;
    margin: 0 0 15px;
    font: bold 24px/100% BookmanOldStyle;
    color: $red;
  }

  &__descr {}
}


.lazyloaded {
  .check_tick {
    > .check__inp {
      background-image: url('../img/check.svg');
    }
    &.check_red {
      &::before {
        background-image: url('../img/check-white.svg');        
      }
      > .check__inp {
        // background-image: url('../img/check-white.svg');
      }
    }
  }
  .doc-form__btn,
  .doc-form__link {
    &::before {
      background-image: url('../img/icon-docs.svg');
    }
  }
  // .calc-result__guarantee-doc {
  //   &::before {
  //     background-image: url('../img/icon-docs.svg');
  //   }
  // }

  .field_name > .field__icon {
    background-image: url('../img/icon-login.svg');
  }
  .field_tel > .field__icon {
    background-image: url('../img/icon-tel.svg');
  }
  .field_email > .field__icon {
    background-image: url('../img/icon-email.svg');
  }

  .discount-form-wrap::before {
    background-image: url('../img/discount-form-bg.svg');
  }

  .ftr__address::before {
    background-image: url('../img/icon-geo.svg');
  }
  .ftr__email::before {
    background-image: url('../img/icon-email-red.svg');
  }

  .calc__select {
    background-image: url('../img/icon-dropdown.svg');
  }
}

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

body {
  font: 16px/162% Calibri;
  color: $black;
  &.no-scroll {
    overflow: hidden;
  }
}

#wpadminbar {
  display: none !important;
}

html[lang] {
  margin-top: 0 !important;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }



.cf7-form-field {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;

  &.active {
    display: block;
  }
}

.nav__link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .5s, color .5s;
}

.hdr__nav-li {
  &.current {
    cursor: not-allowed;
    >.nav__link {
      color: $red;
      opacity: .5;
      pointer-events: none;
    }
  }
}

.menu__nav-li {
  &.current {
    cursor: not-allowed;
    >.nav__link {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.ftr__nav-li {
  &.current {
    cursor: not-allowed;
    >.nav__link {
      color: $red;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.sect {

  &_bg {}

  &-title {}

  &-descr {}
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none !important;
}