// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-cleaning {
  padding-top: 40px;
  background-size: 768px 494px;
  /* .index-cleaning__text */
  &__text {
    &::before {
      width: 670px;
      left: -170px;
    }
  }
  /* .index-cleaning__title */
  &__title {
  }
  /* .index-cleaning__descr */
  &__descr {
  }
  /* .index-cleaning__ul */
  &__ul {
  }
  /* .index-cleaning__li */
  &__li {
  }
  /* .index-cleaning__sign */
  &__sign {
  }
}
