// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-cleaning {
  padding-top: 100px;
  padding-bottom: 100px;
  background: center/cover no-repeat;

  /* .index-cleaning__text */
  &__text {
    margin-left: 70px;
    max-width: 310px;

    &::before {
      width: 715px;
      left: -205px;
      height: 450px;
      top: -55px;
      transform: scale(0.8, 1.15);
    }
  }

  /* .index-cleaning__title */
  &__title {
    width: 350px;
  }

  /* .index-cleaning__descr */
  &__descr {}

  /* .index-cleaning__ul */
  &__ul {}

  /* .index-cleaning__li */
  &__li {}

  /* .index-cleaning__sign */
  &__sign {}
}