// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-steps {
  &.lazyloaded {
    .about-step__num::before {}
  }

  &__title {
    margin: 0 0 -20px;
  }
}

.steps {}

.about-step {
  margin-top: 70px;
  width: calc((100% - 60px) / 3);
  &__num {
    &::before {}
  }

  &__num-text {}

  &__right {}

  &__img {}

  &__descr {}

  &__btn {}
}