// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-faq {
  padding-bottom: 100px;
  &__title {
  }
  &__list {
    font-size: 18px;
  }
  &__li {
    &:not(:last-child) {
      margin: 0 0 30px;
    }
  }
  &__question {
    padding: 0 0 30px;
    &::after {
      margin-top: 7px;
      align-self: flex-start;
      width: 16px;
      height: 16px;
    }
  }
  &__question-number {
  }
  &__question-text {
    max-width: 530px;
  }
  &__answer {
    padding: 0 0 30px 24px;
    max-width: 530px;
    font-size: 16px;
  }
}