// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero {
  padding-bottom: 160px;
  font-size: 36px;
  &__title {
    font-size: 62px;
  }

  &__title-marked {}

  &.lazyloaded {
    .index-hero__title-marked {}
  }

  &__ul {}

  &__li {
    &:nth-last-child(n+2) {}
  }
}