// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero {
  padding-top: 80px;
  padding-bottom: 115px;
  font-size: 22px;
  &__title {
    margin: 0 0 35px;
    font-size: 48px;
  }

  &__title-marked {
    margin-left: -60px;
    padding: 40px 140px 40px 60px;
    font-size: 28px;
  }

  &.lazyloaded {
    .index-hero__title-marked {}
  }

  &__ul {
    margin: 0;
  }

  &__li {
    &:nth-last-child(n+2) {}
  }

  &__img {
    object-position: center;
  }

  &__btn {
    margin: 50px 0 0 0;
  }
}