
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 575.98px) {
  .container {
    padding-left: calc(50% - 268px);
    padding-right: calc(50% - 268px);
  }
}
@media (min-width: 767.98px) {
  .container {
    padding-left: calc(50% - 344px);
    padding-right: calc(50% - 344px);
  }
}
@media (min-width: 1023.98px) {
  .container {
    padding-left: calc(50% - 432px);
    padding-right: calc(50% - 432px);
  }
}
@media (min-width: 1239.98px) {
  .container {
    padding-left: calc(50% - 520px);
    padding-right: calc(50% - 520px);
  }
}
// @media (min-width: 1919.98px) {
//   .container {
//     padding-left: calc(50% - 585px);
//     padding-right: calc(50% - 585px);
//   }
// }