// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 25px;
  padding-bottom: 25px;
  &.fixed {
    .hdr__logo-img {
      width: 140px;
      height: 40px;
    }
  }
  &__logo {
  }

  &__logo-img {
    width: 200px;
    height: 55px;
  }

  &__callback,
  &__tel,
  &__nav {}

  &__nav {
    font-size: 18px;
    &-list {}

    &-li {
      &:nth-last-child(n+2) {
        margin: 0 50px 0 0;
      }
    }
  }

  &__tel {
    margin: 0 65px 0 0;
    font-size: 22px;
    &::before {
      margin-right: 15px;
    }
  }

  &__callback {}

  &__burger {}
}