// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hdr {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 2;
}

.hdr.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: translateToBottom 0.5s;
}

.hdr__logo {
  margin: 0 auto 0 0;
}

.hdr__logo-img {
  width: 80px;
}

.hdr__callback,
.hdr__nav {
  display: none;
}

.hdr__tel {
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: color .5s;
  &::before {
    margin: -1px 5px 0 0;
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMzQyIDUuNTRsLTEuMDggMS4wMzdjLS4zMTYtLjE4LS45MDItLjU0MS0xLjUzMi0xLjE3MkE3LjMzMyA3LjMzMyAwIDAxMy41MTQgMy44M0w0LjU1IDIuNzQ4IDEuODAyLjA0NSAxLjg0NyAwIC40OTUgMS4zMDZDLjE4IDEuNjY2IDAgMi4wNzIgMCAyLjUyM2MwIC4yNy4wNDUuNDk1LjE4LjcyLjQ1Ljk0NiAxLjMwNiAyLjM4OCAyLjc0OCAzLjgzQzQuMzY5IDguNTEyIDUuODEgOS4zNjggNi43NTcgOS44MmMuMjI1LjEzNS40OTUuMTguNzIuMTguNDUgMCAuODU2LS4xOCAxLjE3Mi0uNDk1bDEuMzA2LTEuMzA3LjA0NS0uMDQ1LTIuNjU4LTIuNjEyem0tNi4yNi0zLjYwM2wuNzItLjcyIDEuNTMxIDEuNTMtLjkuOTAyLjEzNS4yN3MuNDA1Ljk0NiAxLjQ4NiAyLjAyN2MxLjA4MSAxLjA4MSAxLjk4MiAxLjQ4NiAyLjAyNyAxLjQ4NmwuMjcuMTM2LjkwMS0uOTAxTDguNzQgOC4xNTNsLS43MjEuNzJhLjkwMy45MDMgMCAwMS0uOTQ2LjE4MWMtLjktLjQ1LTIuMjUyLTEuMjYxLTMuNjA0LTIuNjEzQTEzLjk3MiAxMy45NzIgMCAwMS44NTYgMi44MzhjLS4wNDUtLjI3IDAtLjY3Ni4yMjUtLjkwMXoiIGZpbGw9IiNFMzIyMkIiLz48L3N2Zz4=') center/contain no-repeat;
  }
}

.hdr__burger {
  margin-top: -1px;
  width: 20px;
  height: 14px;
}

.hdr__burger-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}