// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  padding-top: 80px;
  padding-bottom: 45px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr auto;
  /* .ftr__top */
  &__top {
    flex-shrink: 0;
    // margin: 0;
    // display: flex;
    // flex-flow: column;
    // width: auto;
  }

  /* .ftr__logo */
  &__logo {
    // margin: 0 0 auto;
    // margin: 0;
  }

  /* .ftr__logo-img */
  &__logo-img {
    // width: 190px;
    // height: 54px;
  }

  /* .ftr__copy */
  &__copy {
    // margin: auto 0;
  }

  &__dev {
    // margin: 0;
  }

  /* .ftr__nav */
  &__nav {
    margin: 0 70px 0 80px;
    font-size: 18px;
    &-list {}

    &-li {
      &:nth-last-child(n+2) {}
    }
  }

  /* .ftr__phones */
  &__phones {
    margin: 0 0 70px;
    grid-row: 1;
    grid-column: 4;
  }

  /* .ftr__tel */
  &__tel {
    font-size: 20px;
  }

  /* .ftr__callback */
  &__callback {
    // margin: 20px 0 auto;
  }

  /* .ftr__work-hours */
  &__work-hours {}

  /* .ftr__contacts */
  &__contacts {
    margin: 0 0 auto;
    grid-row: 1;
    grid-column: 3;
    // display: flex;
    // flex-flow: column;
  }

  /* .ftr__address */
  &__address {
    margin: 0 auto 20px 0;
    font-size: 18px;
    &-text {
      width: 168px;
    }
  }

  /* .ftr__email */
  &__email {
    margin: 0 auto 0 0;
    font-size: 18px;
  }

  /* .ftr__policy */
  &__policy {
    margin: 0 0 40px auto;
    align-self: end;
    grid-row: 2;
    grid-column: 4;
  }

  &__dev {
    grid-column: 4;
    grid-row: 2;
    align-self: end;
  }

  &__offer {
    margin: 70px 0 0;
    grid-row: 2;
    grid-column: 1;
  }
}

.site-info {
  // padding-top: 20px;
  // padding-bottom: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}