// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  /* .ftr__top */
  &__top {}

  /* .ftr__logo */
  &__logo {}

  /* .ftr__logo-img */
  &__logo-img {
    width: 165px;
    height: 45px;
  }

  /* .ftr__copy */
  &__copy {
    margin-top: 10px;
    line-height: 100%;
    color: #767676;
  }

  &__dev {
    margin-top: 20px;
    font: 14px/130% Calibri;
    text-align: center;
  }

  &__dev-link {
    font: 600 14px SegoeUI;
    letter-spacing: 0.08em;
    color: #2d2d2d;
  }

  /* .ftr__nav */
  &__nav {
    margin: 40px 0;
    font: 16px/100% Calibri;

    &-list {}

    &-li {
      &:nth-last-child(n+2) {
        margin: 0 0 30px;
      }
    }
  }

  /* .ftr__phones */
  &__phones {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  /* .ftr__tel */
  &__tel {
    margin: 0 0 10px;
    font: 18px/100% Calibri;
    transition: color .5s;
    &::before {
      margin: -2px 10px 0 0;
      flex-shrink: 0;
      content: '';
      display: inline-block;
      width: 17px;
      height: 20px;
      background: center/contain no-repeat;
    }
  }

  /* .ftr__callback */
  // &__callback {
  //   margin: 20px 0;
  //   width: 185px;
  //   height: 40px;
  // }

  /* .ftr__work-hours */
  &__work-hours {
    font-size: 14px;
    line-height: 100%;
    color: #767676;
  }

  /* .ftr__contacts */
  &__contacts {
    margin: 20px 0 35px;
  }

  /* .ftr__address */
  &__address {
    margin: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    font: 16px/140% Calibri;
    text-align: left;

    &::before {
      margin: 2px 10px 0 0;
      flex-shrink: 0;
      content: '';
      display: inline-block;
      width: 16px;
      height: 20px;
      background: center/contain no-repeat;
    }

    &-text {
      width: 150px;
    }
  }

  /* .ftr__email */
  &__email {
    display: inline-flex;
    align-items: center;
    font: 16px/100% Calibri;
    // color: $red;
    transition: filter .5s;

    &::before {
      margin: 0 10px 0 0;
      content: '';
      display: inline-block;
      width: 19px;
      height: 14px;
      background: center/contain no-repeat;
    }
  }

  &__offer {
    margin: 0 0 20px;
    display: block;
    font: 12px/133% Calibri;
    color: #767676;
  }

  &__policy {
    font: 12px/100% Calibri;
    color: #767676;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s;
    &:hover {
      border-bottom-color: transparent;
    }
  }

}

.site-info {
  padding-top: 15px;
  padding-bottom: 15px;
  font: 12px/133% Calibri;
  text-align: center;
  color: #767676;
  background: #F4F4F4;

  >.policy {
    margin-top: 5px;
    display: inline-flex;
    border-bottom: 1px dashed;
    transition: border-bottom-color .5s, color .5s;
  }
}