// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.ftr {
  padding-top: 30px;
  padding-bottom: 35px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  text-align: left;
  /* .ftr__top */
  &__top {
    justify-self: start;
    grid-row: 1;
    grid-column: 1;
  }

  /* .ftr__logo */
  &__logo {}

  /* .ftr__logo-img */
  &__logo-img {
    width: 200px;
    height: 55px;
  }

  /* .ftr__copy */
  &__copy {
    margin-top: 15px;
  }

  /* .ftr__nav */
  &__nav {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    &-list {}

    &-li {
      // &::before {
      //   content: '';
      //   margin: 0 15px 0 0;
      //   display: inline-block;
      //   width: 15px;
      //   height: 1px;
      //   background: $black;
      //   vertical-align: middle;
      // }
      &:nth-last-child(n+2) {
        margin: 0 0 20px;
      }
    }
  }

  /* .ftr__phones */
  &__phones {
    margin: 0 5px 0 0;
    grid-row: 2;
    grid-column: 3;
    align-items: flex-end;
  }

  /* .ftr__tel */
  &__tel {}

  /* .ftr__callback */
  &__callback {}

  /* .ftr__work-hours */
  &__work-hours {}

  /* .ftr__contacts */
  &__contacts {
    margin: 0;
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    // justify-content: flex-end;
  }

  /* .ftr__address */
  &__address {
    justify-content: flex-end;
    text-align: left;
  }

  /* .ftr__email */
  &__email {
    margin: 0 20px 0 0;
    justify-content: flex-end;
    &::before {
      margin: 0 8px 0 0;
    }
  }

  &__offer {
    margin: 35px 0;
    max-width: 270px;
    grid-row: 2;
    grid-column: 1;
    font-size: 14px;
  }

  &__dev {
    margin: 0;
    grid-row: 3;
    grid-column: 3;
    justify-self: end;
    font-size: 16px;
    &-link {
      font-size: 16px;
    }
  }

  /* .ftr__info */
  // &__info {}

  /* .ftr__policy */
  &__policy {
    justify-self: start;
    grid-row: 3;
    grid-column: 1;
    font-size: 14px;
  }
}