// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-hero {
  padding-top: 300px;
  padding-bottom: 350px;
  background: center bottom/1024px 945px;
  &__title {
    max-width: 440px;
    font-size: 40px;
    &::before {
      top: 30%;
      left: 40%;
      width: 700px;
      height: 300px;
      transform: translate(-50%, -50%) scaleX(1.25);
    }
  }
  &__btn {
    margin-top: 100px;
  }
}